* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 1rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: 0.3s ease;
}

a:hover {
  padding: 12px;
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  justify-content: space-around;
  height: 90vh;

  background: whitesmoke;
}

.headline-info > h1 {
  font-size: 7rem;
  padding: 2rem;
}

.headline-info > p {
  font-size: 2rem;
  text-align: center;
}

.headline > img {
  width: 50%;
  height: fit-content;
  padding: 20px;
  object-fit: contain;
}

.story {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: white;
}

.story > h1 {
  font-size: 2.5rem;
  padding: 30px;
  text-align: center;
}

.story > p {
  padding: 2rem;
  text-align: justify;
  font-size: 20px;
}

.story-illustration {
  height: 100%;
  width: 50%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -9999;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

/* img {
  width: 30rem;
  height: 30rem;
} */

.projects {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 100vw;
}

.projects-heading {
  font-size: 4rem;
  padding: 10rem;
}

.title {
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}

.info {
  padding: 0 30px 30px 30px;
  font-size: 1.3rem;
}

.proj-1,
.proj-2,
.proj-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  height: 50vh;
  padding: 5px;
}

.proj-1 > img,
.proj-2 > img,
.proj-3 > img {
  width: 50%;
  height: 100%;
}

.proj-1 {
  background: whitesmoke;
}

.proj-2 {
  flex-flow: row-reverse;

  font-size: 18px;
}

.proj-1-info,
.proj-2-info,
.proj-3-info {
  padding: 30px;
  text-align: justify;
  width: 75%;
  text-align: center;
  padding-bottom: 4rem;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 50px;
  height: auto;
  width: 80%;
}

.btn-container > button:hover {
  background: black;
  height: 50px;
  width: 160px;
  font-size: 15px;
}

.btn-container > button {
 
  font-size: 15px;
  height: 50px;
  width: 150px;
  border-radius: 100px;
  border: none;
}

/* .btn-container > button:hover {
  background: black;
  color: white;
} */

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

input {
  width: 100%;
  height: 50px;
  margin: 10px;
  text-align: center;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 100px;
  border: 1px solid black;
  outline: 5px solid white;
}

button:hover {
  color: white;
  background: black;
}

.form-heading {
  font-size: 3rem;
}

input:hover {
  background: rgb(225, 223, 223);
  border-radius: 2px;
}

.contact {
  background: whitesmoke;
  color: black;
  height: 90vh;
}

@media screen and (max-width: 900px) {
  .headline {
    background: black;
    padding: 50px;
    color: white;
    height: 70vh;
    margin: 0 auto;
  }

  .headline-img {
    display: none;
  }

  .headline-info > p {
    text-align: center;
  }

  .story {
    height: 100px;
    line-height: 30px;
    width: 100%;
  }
  .story-illustration {
    display: none;
  }
  .proj-1,
  .proj-2,
  .proj-3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* .proj-2 {
    background: white;
    color: black;
  } */
  .proj-1 > img,
  .proj-2 > img,
  .proj-3 > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .btn-container {
    display: flex;
    flex-flow: column;
  }
  button {
    margin-bottom: 10px;
  }
  button[type="submit"] {
    border: none;
  }
}

@media screen and (max-width: 650px) {
  header {
    background: white;
  }

  /* a:hover {
    color: black;
  } */
  .headline {
    background: whitesmoke;
    color: black;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .headline-info > h1 {
    font-size: 100px;
    background: none;
    color: black;
  }

  .headline-info > img {
    z-index: -999;
  }
  .story > p {
    font-size: 20px;
    padding-bottom: 20rem;
  }
  .story > h1 {
    margin-top: 20rem;
  }
  .about {
    height: 100vh;
  }
  .projects {
    height: auto;
    padding-top: 5rem;
  }
  .btn-container {
    display: flex;
    flex-flow: column;
  }
  .btn-container > button {
    margin: 5px;
    border: none;
  }

  .proj-1-info,
  .proj-2-info,
  .proj-3-info {
    width: 100%;
  }
  form {
    width: 80%;
  }
}
